body.sigin-body{
	background-color: #004d33;
}

div.signin-container{
	margin-top: 8%;
}
div.signin-card{
	padding: 40px 0px 20px;
	background-color:#f4f4f4;
	box-shadow:2px 2px 5px rgba(0,0,0,.5) ;
    -webkit-box-shadow:2px 2px 5px rgba(0,0,0,.5);
    -moz-box-shadow:2px 2px 5px rgba(0,0,0,.5);
}

h1.login{
	text-align: center;
}

form.signin-form{
	max-width: 350px;
	margin: auto;
}

button.sigin-btn{
	color: #ffffff;
	background-color: #d64829;
	width: 100%;
	margin-bottom: 1.2rem;

}

a.create-new-account{
	font-size: 1.2rem;
	text-align: center;
	display: block;
	margin-top: 15px;
}

a.create-new-account:hover{
	color:#ffffff;

}

